.TopNav {
	display: flex;
	align-items: center;
	width: 100%;
}
.hamburger {
	width: 40px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	/* display: none; */
}
.hamburger div {
	height: 4px;
	border-radius: 10px;
	width: 100%;
	margin: 4px 0;
	background-color: var(--color2);
}
.leftNavLinks, .rightNavLinks {
	display: flex;
}
.TopNav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.TopNav ul li a {
	display: block;
	width: 120px;
	margin: 0 5px;
	text-align: center;
	padding: 10px 10px;
	color: var(--color1);
	border-bottom: 2px solid var(--color5);
}
.TopNav ul li a:hover {
	border-bottom: 2px solid var(--color2);
}

@media screen and (max-width: 820px) {
	.leftNavLinks, .rightNavLinks {
		display: none;
	}
}