.RightColumn {
	width: 84vw;
	background-color: var(--color4);
	min-height: 120vh;
	margin-left: 16vw;
	padding: 10px 30px;
}
@media screen and (max-width: 850px) {
    .RightColumn {
        width: calc(100vw - 60px);
        margin-left: 60px;
        padding: 10px 0;
    }
}