.TopHeader {
	height: 70px;
	position: fixed;
	top: 0;
	background-color: var(--color5);
	width: 100%;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	align-items: center;
}
.UserSection {
	display: flex;
	width: 80px;
	display: flex;
	margin-right: 10%;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}
.UserSection:hover, .UserSection:focus {
	transform: translateY(-2px);
}

.UserFullname {
    font-size: 18px;
    color: white;
}
.Caret {
	color: var(--color1);
}
.UserDropdown {
	position: fixed;
	width: 150px;
	top: 70px;
	right: 90px;
	background-color: var(--color2);
	text-align: center;
}
.UserDropdown ul {
	padding: 0;
	margin: 0;
}
.UserDropdown .fullname, .UserDropdown a {
	display: block;
	padding: 10px;
	color: white;
}
.UserDropdown .fullname {
	border-bottom: 2px solid var(--color1);
}
.UserDropdown a:hover, .UserDropdown a:focus{
	background-color: var(--color1);
}

@media screen and (max-width: 650px) {
	.UserSection {
		margin-right: 0;
	}
	.UserDropdown {
		right: 30px;
	}
}

@media screen and (max-width: 400px) {
	.TopHeader {
		padding: 0 10px;
	}
}