:root {
  --color1: #443742;
  --color2: #846C5B;
  --color3: #CEA07E;
  --color4: #EDD9A3;
  --color5: #E2E8C0;

}

.Intro {
  background-color: var(--color5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  text-align: center;
  z-index: -1;
}
.Intro h1 {
  font-size: 60px;
  margin: 0;
}
.Intro p {
  font-size: 20px;
  max-width: 500px;
  line-height: 30px;
}
.Signin {
  display: flex;
}
.Signin a {
  display: block;
  padding: 10px;
  margin: 5px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  color: var(--color1);
}
.Signin a:hover {
  background-color: var(--color1);
  color: white;
}


@media screen and (max-width: 800px) {
  .Intro h1 {
    font-size: 40px;
  }
  .Intro p {
    font-size: 17px;
  }
}