:root {
  --color1: #443742;
  --color2: #846C5B;
  --color3: #CEA07E;
  --color4: #EDD9A3;
  --color5: #E2E8C0;

}

* {
  box-sizing: border-box;
  transition: 300ms;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.HomeMain {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.Signin {
  display: flex;
}
.Signin a {
  display: block;
  padding: 10px;
  margin: 5px;
  border: 2px solid var(--color1);
  border-radius: 10px;
  color: var(--color1);
}
.Signin a:hover {
  background-color: var(--color1);
  color: white;
}