.RegisterSection {
	width: 100vw;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: center;
	background-color: var(--color4);
}
.Register {
	width: 500px;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.Register h2, .Register p {
	margin: 5px 0 10px;
	width: 100%;
	padding: 10px;
}
.Register p {
	border-bottom: 2px solid var(--color3);
}
.Register input {
	width: 100%;
	padding: 10px;
	background-color: var(--color4);
	border: 0;
	border-bottom: 2px solid var(--color4);
	margin: 10px 0;
	border-radius: 5px;
	font-size: 17px;

}
.Register input:hover,
.Register input:focus {
	border-bottom: 2px solid var(--color3);
}