@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
	scroll-behavior: smooth;
}

:root {
  --color1: #443742;
  --color2: #846C5B;
  --color3: #CEA07E;
  --color4: #EDD9A3;
  --color5: #E2E8C0;
  --color6: rgb(14, 221, 110);

  --currentColor: #148aff;
  --completeColor: var(--color6);
  --overdueColor: red;

}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--color5);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1) inset;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color1);
	border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: rubik, 'Helvetica';
}

* {
  box-sizing: border-box;
  transition: 300ms;
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
