@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--color4);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1) inset;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color1);
	border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: rubik;
}

* {
  box-sizing: border-box;
  transition: 300ms;
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
