.WelcomeUser {
	font-size: 30px;
	margin: 10px 0;
}
.Statistics {
	width: 100%;
	background-color: white;
	height: 200px;
	display: flex;
}
.Statistics div {
	width: 25%;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	text-align: center;
	color: var(--color1);
}
.Statistics div:not(:last-child) {
	border-right: 1px solid #ddd;
}
.Statistics .value {
	font-size: 50px;
	margin: 0;
}

.Overview {
	margin: 40px 0;
	width: 100%;
	height: 500px;
	background-color: white;
}
.Overview .title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	padding-left: 5%;
	background-color: var(--color3);
	font-size: 20px;
}
.GoalsDisplay {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	overflow-y: auto;
}
.GoalContainer {
	width: 200px;
	height: 200px;
	border: 1px solid #ddd;
	margin: 20px;
}
.GoalContainer p {
	margin: 10px;
}
.GoalTitle {
	font-weight: bold;
}

/* .Dashboard {
	min-height: calc(100vh - 100px);
	background-color: var(--color4);
	padding: 50px 10vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.CompAndIncomp {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 80%;
}

.AddGoal {
	position: fixed;
	top: 110px;
	right: 25px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: var(--color6);
	color: white;
	padding: 10px;
	cursor: pointer;
}
.AddGoal:hover {
	animation: CreateAnim 0.5s alternate ease;
}

@keyframes CreateAnim {
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1.0);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 800px) {
	.Dashboard {
		padding: 50px 0;
	}
} */
/* @media screen and (max-width: 500px) {
	.CompAndIncomp {
		width: 100vw;
		margin-left: 0;
	}
} */