.WelcomeUser {
	font-size: 30px;
	margin: 10px 10px;
}
.AddGoal {
	position: fixed;
	top: 110px;
	right: 25px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: var(--color6);
	color: white;
	padding: 10px;
	cursor: pointer;
}
.AddGoal:hover, .AddGoal:focus {
	animation: CreateAnim 0.5s alternate ease;
}
@keyframes CreateAnim {
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1.0);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}


.Statistics {
	width: 100%;
	background-color: white;
	height: 200px;
	display: flex;
	border: 1px solid var(--color1);
}
.Statistics div {
	width: 33%;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	text-align: center;
	color: var(--color1);
}
.Statistics div:not(:last-child) {
	border-right: 1px solid #ddd;
}
.Statistics .tag {
	margin: 0;
}
.Statistics .value {
	font-size: 50px;
	margin: 0;
}

.Overview {
	margin: 40px 0 0;
	width: 100%;
	/* height: 500px; */
	background-color: white;
	padding: 0 0 50px;
	/* overflow-y: auto; */
	border:  1px solid var(--color3);
}
.Overview .title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	padding-left: 5%;
	background-color: var(--color3);
	font-size: 20px;
}
.GoalsDisplay {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
}
.GoalContainer {
	width: 230px;
	height: 200px;
	/* The border color is handled with the state */
	border-radius: 10px;
	margin: 10px 10px;
	box-shadow: 10px 10px 0 #eee;
}
.GoalContainer:hover, .GoalContainer:active {
	box-shadow: 0 0 0 #eee;
}
.GoalContents {
	width:100%;
	padding: 10px;
}
.actions {
	width: 100%;
	text-align: right;
}
.actions button {
	margin: 0 0 0 7px;
	cursor: pointer;
	border: 0;
	background: none;
	font-size: 20px;
}
.actions .edit {
	color: green;
}
.actions .delete {
	color: red;
}
.GoalTitle {
	font-weight: bold;
	width: 100%;
	padding: 10px;
	margin: 0;
	overflow-wrap: break-word;
	text-align: center;
}
.GoalContainer .details {
	width: 100%;
	font-weight: bold;
}
.GoalContainer .details p{
	margin: 10px 0;
}
.GoalContainer .label {
	color: var(--color3);
	font-weight: normal;
}

@media screen and (max-width: 850px) {
	/* Left and right border is removed so as not to interfere with 100% of mainright */
	.Statistics {
		border-left-width: 0;
		border-right-width: 0;
	}
}

@media screen and (max-width: 650px) {
	.WelcomeUser {
		font-size: 23px;
	}
	.Statistics {
		height: 150px;
		padding: 5px;
	}
	.Statistics .value {
		font-size: 25px;
	}
	.AddGoal {
		position: fixed;
		top: 40px;
		right: 5px;
		border-radius: 10px;
		margin-bottom: 20px;
		background-color: var(--color6);
		color: white;
		padding: 10px;
		cursor: pointer;
	}
	.GoalsDisplay {
		padding: 0;
	}
	.GoalContainer {
		width: 40%;
		margin: 10px 5px;
		box-shadow: 5px 5px 0 #eee;
		height: 200px;
		font-size: 14px;
	}
	.GoalContents {
		padding:  5px;
	}
}

@media screen and (max-width: 430px) {
	.GoalContainer {
		width: 250px;
		min-height: 170px;
	}
	.GoalContents {
		padding: 10px 20px 5px;
	}
}